<div on-mouseover = "mouseOver()" on-mouseout="mouseOut()">
    <div style="position: relative" (click)="imageClick()"> 
        <div style="position: absolute;left:8px;top:8px;">                
            <div *ngIf="!readOnly">
                <div class="form-group" [ngSwitch]="multiEditMode" style="float:right">

                    <div *ngSwitchCase='false' class="btn-group" role="group" aria-label="..." style="float:right">
                        <button title="View" [ngStyle]="{'visibility': getEditVis()}" (click)="view()" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <a title="Download" [ngStyle]="{'visibility': getEditVis()}" type="button" class="btn btn-default btn-sm" download href="{{getFullImageURL()}}" target="_blank">
                            <span class="glyphicon glyphicon-download-alt" ></span>
                        </a>
                        <button title="Delete" [ngStyle]="{'visibility': getEditVis()}" (click)="delete(deleteTemplate)" type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                        <ng-template #deleteTemplate>
                          <div class="modal-body text-center">
                            <p>Delete image?</p>
                            <button type="button" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
                            <button type="button" class="btn btn-primary" (click)="cancelDelete()" >No</button>
                          </div>
                        </ng-template>                        
                        
                    </div>
                </div>
            </div>
        </div>
        <img title = "{{imageSummary.caption}}" 
            [ngClass]="imageClass" 
            width="100%"
            height="100%"
            src="{{getThumbnailURL()}}"
            />            
    </div>
    <div [hidden] ="!showCaption || captionEditMode" class="form-group">
        <p  (click)="editCaption(captionInput)" class="form-control input-sm text-center azb-caption">
            {{imageSummary.caption}}
            <span [ngStyle]="{'visibility': getEditVis()}" class="glyphicon glyphicon-pencil"></span>
        </p>
    </div>
    <div [hidden] ="!captionEditMode" >
        <form novalidate [formGroup]="captionGroup" (ngSubmit)="submitCaptionChange()">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>                        
                        </button>
                    </span>
                    <input #captionInput formControlName="caption" name="caption" placeholder="Enter" type="text" class="form-control input-sm text-center"/>
                    <span class="input-group-btn">
                        <button type="button" (click)="cancelCaptionChange()" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>                        
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
